*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
   
}

body{
    background-image:url(background-img.jpg);
     background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
     color: antiquewhite; 
    
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;


 }
 
 
 .navbar {
     background-color:rgb(14, 124, 87);
     padding: 10px 0;
     display: flex;
     position: sticky;
     top: 0;
     width: 100%;
     height: 90px;
     justify-content: space-between;
   }
   
 .logo {
     color: orange;
     font-size: 35px;
     font-family: Arial;
     font-weight: 900px;
     padding-left: 20px;
     float: left;
   }
   
   .menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
     
   }
   
   .menu ul {
     display: flex;
     list-style: none;
     color: #ffffff;
 
   }
   
   .menu ul li {
     margin-right: 20px;
     color: white;
   
     
 
   }
 
   .menu ul li a{
     text-decoration: none;
     color: white;
   }
 .coner{
     width: 220px;
     display: flex;
     flex-direction: row;
 }
   
   .menu ul li a:hover {
     color: orange;
   }
   
   .search {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   
   .search-box {
     width: 100%;
     padding: 10px;
     border-radius: 5px 0 0 5px;
     border: 1px solid orange;
     background: transparent;
   }
   .hamburger{
    display: none;
    font-size: 1.8em;
    cursor: pointer;
   }
   .menu-toggle{
    display: none;
   }
 /*   
 .search-box {
     width: 100%;
     padding: 10px;
     border-radius: 5px 0 0 5px;
     border: 1px solid orange;
     background: transparent;
   } */
   
   .search-box:focus {
     outline: none;
   }
   
   .search-btn {
     background: orange;
     color: rgb(19, 19, 192);
     font-weight: bold;
     padding: 10px 20px;
     border: 1px solid orange;
     border-radius: 0 5px 5px 0;
     cursor: pointer;
   }
   
   .search-btn:hover {
     background: rgb(248, 166, 15);
   }


   .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 150px;
  } 
  .coner {
    border: 10px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .content {
    /* display: flex;
    flex-direction: column;
    margin: 0; */
  }
  
  .content h1 {
    color: midnightblue;
    font-size: 50px;
    font-weight: 900;
    margin: 0;
  }
  
  .content p{
    font-family: cursive;
    font-style: italic;
    margin: 0;
  }  
   
img{
    width: 100%;
    height: 300px;
    object-fit: cover;
   
}
.big-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 400px;
    margin-left: 40px;
    
    
}
.for-line{
    margin-top: 30px;
     height: 9vh;
}
.sec{
    width: 360px;
    height: 76vh;
    margin-left: 300px;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(14, 124, 87, 0.527) , rgba(14, 124, 87, 0.774) );
   padding-top: 20px;
    padding-inline: 15px;
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    min-height: 220px;
    max-height: 470px;
   
}
p{
    color: rgb(36, 42, 48);
    font-size: smaller;
}
.bbb{
    width:80%;
    padding: 5px;
    left: 9%;
    position: absolute;
    bottom: 22px;
    background-color:rgba(255, 166, 0, 0.516) ;
    border: none;
    border-radius: 4px;
    color:black;
    

}
h1{
    display: flex;
}
.bbb:hover{
    background-color: rgba(255, 166, 0, 0.8);
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.bbb:active{
    background-color: rgba(7, 114, 25, 0.427);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.ll{
    background-color:midnightblue ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
.jj{
    color: rgb(174, 164, 164);
}


@media screen and (max-width: 768px) {
    .big-container {
        grid-template-columns: 1fr;
        margin-left: 3px;
        height: fit-content;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .path{
        margin-left: -20px;
        text-align:center;
        
    }
    .sec {
        width: 90%;
        margin: 10px auto;
        min-width: 320px;
        max-height: 350px;
    }
    .menu-toggle:checked + .hamburger + ul{
        display: flex;
    }
    .hamburger{
        display: block;
    }
    img {
        height: 200px;
    }
    button {
        width: 90%;
        left: 5%;
        padding-inline: 15px;
    }
    .footer{
       
        bottom: 0;
        width: 100%;
    }
    .cintent{
        display: inline-block
    }
    .help{
        display: none;
    }
    li{
        display: none;
    }
    html, body{
        height: 100%;
        margin: 0;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        font-size: 27px;
        margin-right: 15px;
    }
    @media screen and (width: 820px){
      .big-container{
        display: grid;
        grid-template-columns: 1fr 1fr;

      }
    }
}


footer{
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    background-color: #2c2214;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}